pdfplumber
pandas
requests
openpyxl
spacy
sentence-transformers
scikit-learn
aiohttp
python-dotenv
google-genai
google-generativeai
psycopg2-binary
faiss-cpu
fastapi
uvicorn
python-multipart
pyjwt
numpy
torch
transformers
huggingface-hub